<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width">
    <title>
        Webdev Resume
    </title>
    <link rel="stylesheet" type="text/css" href="/Users/c_sav/Documents/web/Resume_App/static/styles/css/cascadingtest.css"/>

</head>

<header>
<body>
    <div id="Socials">
        <img id="profilepic" src ="/Users/c_sav/Documents/web/Resume_App/static/itsame.jpg">
            <p id="name">
            Clifton Saville-Smith: <br>
            Developer, Analyst, Technician
        </p>
        <nav>
            <a href="https://www.linkedin.com/in/clifton-sa77a25257">
                | Linkedin |
            </a>
            
            <a href="https://github.com/Cliffy43">
                | github |
            </a>
            <a href="https://public.tableau.com/app/profile/clifton.saville.smith">
                | Tableau |
            </a>
        </nav>
    </header>
    </div>
<div id="tag">
    <p><b>
        Developer based out of South Jordan, Utah.<br>
        Proficient in multiple programming languages, certified in data analysis with a side order of HVAC, appliance, plumbing, and electrical repair/installation. <br>
        Basically - I can fit in as a junior anywhere within your team.</b>
    </p>
</div>
<div id="bio">
    <div id="biotext">
        <h1>Strong problem solving skills</h1>
        <p>Spending nearly 10 years in maintenance and customer facing roles has given me a strong background in not only technical problem solving,<br>
            but also strong interpersonal skills. Handling many high pressure situations where customers have been unhappy has given me a wealth of patience as well as empathy.
        <h1>Team player</h1>
        <p>I've never had a role where I wasn't part of a team, be it as a support role, or as is the case in the last few years, a leadership position.<br>
            I understand how teams need to come together to succeed and how best to utilize skills people can bring.
        <h1>Highly-skilled learner</h1>
        <p>From learning how small electrical parts play a role in the function of modern appliances to beginning the journey to become a 'self taught' programmer - I have a strong desire to learn and a wide range of skills.<br>
        Including but not limited to: Python, R, html and css, SQL, Databases, basically I'm a strong beginner in multiple disciplines who's ready to break into the world of tech. </p>
        </p>
        </div>
    <img id="genplot" src="https://cdn.pixabay.com/photo/2022/04/01/09/08/particles-7104407_1280.jpg">
</div>
<footer>
    <p><i>
        If interested in hiring please contact me through Linkedin at the top of page or send email direct to ctss93@gmail.com
        </i>
    </p>
</footer>
</body>

</html>